.red 
{
	background: red;
	height: 200px;
}
.blue
{
	background: blue;
	height: 400px;
}
.yellow
{
	background: yellow;
	height: 400px;
}
.orange
{
	background: orange;
	height: 200px
}
.green
{
	background: green;
	height: 200px
}